* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#main {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url("./images/maxresdefault.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.bd {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.access-btn {
	text-decoration: none;
	background-color: rgb(56, 56, 187);
	display: inline-block;
	color: #fff;
	padding: 10px;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
